<mat-toolbar color="primary">
  <span>Token Analytics</span>
</mat-toolbar>

<div class="m-3">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lt-md="100">
      <mat-label>Search Token</mat-label>
      <input matInput [(ngModel)]="searchQuery"
        placeholder="Search by Address / Txn Hash / Block / Token / Domain Name">
      <button fxFlexAlign="center" mat-raised-button color="primary" (click)="searchToken()" fxFlex="5"
        fxFlex.lt-md="100">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center" *ngIf="searchedToken">
  <mat-card fxFlex="100%" fxFlex.gt-sm="75" fxFlex.gt-md="75%">
    <mat-card-header class="card-header">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-card-title>{{ searchedToken.name }}</mat-card-title>
        <mat-card-subtitle class="ml-2">({{ searchedToken.ticker }})</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50%">
          <p><strong>Overview:</strong></p>
          <p>Address: <a href="{{ searchedToken.address }}" target="_blank">{{ searchedToken.address }}</a></p>
          <p>Fresh Wallets: {{ searchedToken.freshWallets }}</p>
          <p>Dormant Wallets: {{ searchedToken.dormantWallets }}</p>
          <p>Initial Liquidity Pool: {{ searchedToken.initialLiquidityPool }}</p>
          <p>Initial Liquidity Pool USD: {{ searchedToken.initialLiquidityPoolUsd }}</p>
          <p>Added Liquidity Pool: {{ searchedToken.addedLiquidityPool }}</p>
          <p>Added Liquidity Pool USD: {{ searchedToken.addedLiquidityPoolUsd }}</p>
          <p>Current Liquidity Pool: {{ searchedToken.currentLiquidityPool }}</p>
          <p>Current Liquidity Pool USD: {{ searchedToken.currentLiquidityPoolUsd }}</p>
          <p>Total Burnt Supply: {{ searchedToken.totalBurntSupply }}</p>
          <p>Holders Above 20k: {{ searchedToken.holdersAbove20k }}</p>
          <p>Whale Wallets: {{ searchedToken.whaleWallets }}</p>
        </div>
        <div fxFlex="2" style="border-left: 1px solid rgba(0, 0, 0, 0.12);"></div>
        <div fxFlex="48%">
          <p><strong>Top Holders:</strong></p>
          <div style="max-height: 80vh; overflow-y: auto;">
            <div *ngFor="let holder of searchedToken.topHolders">
              <p>Rank: {{ holder.rank }}</p>
              <p>URL: <a href="{{ holder.url }}" target="_blank">{{ holder.url }}</a></p>
              <p>Holdings Percent: {{ holder.holdingsPercent }}%</p>
              <p>Holding Time: {{ holder.holdingTime }}</p>
              <p>Total Spent: {{ holder.totalSpent }}</p>
              <p>Current Value: {{ holder.currentValue }}</p>
              <p>Total Funds: {{ holder.totalFunds }}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>





<div class="m-3">
  <div *ngIf="searchQuery && !searchedToken" class="not-found-message">
    <p>We didn't find the token you searched for.</p>
  </div>
</div>