 /* You can add global styles to this file, and also import other style files */
 
 @import '/src/dark-theme.scss'; // Import the custom dark theme

 
 

 /* Apply custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e9ecef;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f51b5;
  }
  
