 /* You can add global styles to this file, and also import other style files */
 
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~bootstrap/dist/css/bootstrap.min.css';

 

 /* Apply custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e9ecef;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f51b5;
  }
  
